<%= form_with model: @time_trial, data: { controller: "nested-fields" } do |form| %>
  <div class="auto">
    <div class="mb-3">
      <%= form.label :recorded_at, "Date: ", class: "form-label" %>
      <%= form.date_field :recorded_at, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :distance, class: "form-label" %>
      <%= form.text_field :distance, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :surface, class: "form-label" %>
      <%= form.text_field :surface, class: "form-control" %>
    </div>

    <hr />

    <div data-controller="autocomplete" data-autocomplete-url-value="<%= people_search_index_url %>" role="combobox">
      <%= form.fields_for :tt_times do |tt_times| %>
        <%= render "tt_times_fields", form: tt_times %>
      <%- end %>
    </div>

    <div data-nested-fields-target="fields"></div>

    <div class="mb-3">
      <%= button_tag "Add another?", type: :button, data: {action: "nested-fields#append"}, class: "btn btn-secondary" %>

      <template data-nested-fields-target="template">
        <div data-controller="autocomplete" data-autocomplete-url-value="<%= people_search_index_url %>" role="combobox">
          <%= fields_for "time_trial[tt_times_attributes][]", TtTime.new, index: "__INDEX__" do |form| %>
            <%= render "tt_times_fields", form: %>
          <%- end %>
        </div>
      </template>
    </div>

    <hr />

    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
