<div class="content">
  <h1><%= @time_trial.recorded_at.strftime("%-d %B %Y") %>
  (<%= distance_to_human(@time_trial.distance) %>)
  </h1>

  <p>Missing someone? Why not <%= link_to "add them?", new_time_trial_tt_time_path(@time_trial), data: {turbo_stream: true} %></p>
  <div id="questions"></div>

  <table>
    <tr>
      <th>Name</th>
      <th>Time</th>
    </tr>
    <%- @time_trial.tt_times.each do |tt| %>
      <tr>
        <td><%= link_to tt.person.fullname, person_path(tt.person) %></td>
        <td><%= tt.seconds %></td>
      </tr>
    <%- end %>
  </table>
</div>
