<div class="container">
  <div class="modal-form">
    <h1>Members login</h1>
    <%= form_with model: @session, id: "login" do |form| %>
      <%= form.label :email, "Email Address: " %>
      <%= form.email_field :email, required: true, autocomplete: "email", placeholder: "person@example.com", value: params[:email] %>
      <%= form.label :password, "Password: " %>
      <%= form.password_field :password, required: true, autocomplete: "current-password" %>
      <%= form.submit "Log in" %>
    <% end %>
    <p>Don't have an account yet? <%= link_to "Register", signup_path %> for one now.</p>
  </div>
</div>
