<%= form_with model: [:admin, membership],
  data: {
    controller: "autocomplete",
    autocomplete_url_value:  people_search_index_url
  } do |form| %>
  <div class="auto mb-4">
  <%= form.label :person, "Add someone to the team: " %>
  <%= form.text_field :person,
    required: true,
    autofocus: true,
    autocomplete: "off",
    data: {
      autocomplete_target: "input"
    } %>
  <%= form.hidden_field :person_id, data: { autocomplete_target: "hidden" } %>
  <%= form.hidden_field :team_id, value: team.id %>
  <ul class="autocomplete" data-autocomplete-target="results"></ul>
  </div>
  <%= form.submit "Add them", class: "btn btn-primary" %>
<% end %>
