<div class="content">
  <h2><%= @person.fullname %></h2>
  <ul>
    <%- @person.results.group_by(&:distance).each do |distance,results| %>
      <h3><%= distance_to_human(distance) %></h3>
      <%- results.each do |result| %>
        <li><%= result.result %> -- <%= link_to(result.race.name, event_path(result.race.event, anchor: dom_id(result))) %> at <%= result.race.event.title %></li>
      <%- end %>
    <%- end %>
  </ul>
</div>
