<h3 id="<%= dom_id(race) %>">
  <%= race.name %>
  <%= link_to event_path(race.event, anchor: dom_id(race)) do
    inline_svg_tag "link.svg"
  end %>
</h3>
<%= render ResultsTableComponent.new(first_result: race.results.first) do |results_table_component| %>
  <%- race.results.each do |result| %>
    <%= results_table_component.with_result(result:, user: current_user) %>
  <%- end %>
<%- end %>
</table>
