<div class="content">
  <%- if policy(@event).update? %>
    <%= link_to "Update event", edit_event_path %>
  <%- end %>
  <h2><%= @event.title %></h2>
  <p class="subtle"><%= @event.start_time.strftime("%A %e %B %Y at %l:%M%P") %></p>

  <p><%= @event.content %></p>

  <%- if @event.races %>
    <%- @event.races.sort_by { |r| r.name }.each do |race| %>
      <h3 id="<%= dom_id(race) %>"><%= race.name %></h3>
      <table class="results">
        <thead>
        <tr>
          <th class="position">Position</th>
          <%- if race.results.first.bib %><th class="bib">Bib</th><%- end %>
          <th class="name">Name</th>
          <th class="club">Club</th>
          <%- if race.results.first.county %><th class="county">County</th><%- end %>
          <%- unless race.results.first.timed? %><th class="result">Time</th><%- end %>
        </tr>
        </thead>
        <%- race.results.each do |result| %>
          <tr<%= " class=cbac" if result.club == "Castlebar A.C." %> id="<%= dom_id(result) %>">
            <td class="position">
              <%= tag.a(id: dom_id(result)) if result.club == "Castlebar A.C." %>
              <%= result.position %>
            </td>
            <%- if result.bib %>
            <td class="bib">
              <%= result.bib %>
            </td>
            <%- end %>
            <td class="name">
              <%- if policy(result).view_person? && result.person %>
                <%= link_to result.name, person_path(result.person) %>
              <%- else %>
                <%= result.name %>
              <%- end %>
              <%- if policy([:admin, result]).edit? && result.club == "Castlebar A.C."%>
                <%= link_to edit_admin_result_path(result) do
                  inline_svg_tag "pencil.svg"
                end %>
              <%- end %>
            </td>
            <td class="club">
              <%= result.club %>
            </td>
            <%- if result.county %>
            <td class="county">
              <%= result.county %>
            </td>
            <%- end %>
            <%- unless result.timed? %>
            <td class="result">
              <%- if ["DNS", "DNF", "DQ", ""].include? result.result %>
                <%= result.result %>
              <%- else %>
                <%= result.net_time %>
              <%- end %>
            </td>
            <%- end %>
          </tr>
        <%- end %>
      </table>
    <%- end %>
  <%- end %>
</div>
