<%- content_for :title, "Home" %>
<section class="content col-md-8">
  <%- @posts.each do |post| %>
    <article class="post">
      <h2 class="display-5 link-body-emphasis mb-1"><%= link_to post.title, post_path(post) %></h2>
      <div class="post-meta"><%= post.created_at.strftime("%b %-d, %Y") %></div>
      <%= post.content %>
    </article>
  <%- end %>
  <%= link_to "Older news >>", posts_path %>
</section>
<section class="sidebar col-md-4">
  <h2>Next Training</h2>
  <p>Training is finished for this year, we'll be back at the track on the 7th of January</p>
  <h2>Upcoming events</h2>
  <%- if @events.any? %>
    <%- @events.each do |event| %>
      <article class="event">
        <time><%= event.start_time.strftime("%b %-d, %Y") %></time>
        <p>
        <%= link_to event.title, event_path(event) %>
        </p>
      </article>
    <%- end %>
  <%- else %>
    <p>There are no events coming up</p>
  <%- end %>
</section>
