<div class="content" data-controller="checkbox">
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Admin?</th>
  </tr>
<%- @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.email %></td>
    <td><%= render "name", user: user %></td>
    <td>
      <%- if user.id == current_user.id %>
        <%= inline_svg_tag "check.svg" %> (That's me)
      <%- else %>
        <%= form_with model: user, url: admin_user_path(user), data: {checkbox_target: "form"} do |f| %>
          <%= f.hidden_field :id, value: user.id %>
          <%= f.check_box :admin, data: {action: "checkbox#submit" } %>
        <%- end %>
      <%- end %>
    </td>
  </tr>
<%- end %>
</table>
</div>
