<div class="content">
  <h1>Admin Section</h1>

  <h2>Users</h2>
  <ul>
    <li>
      <%= link_to "View all users", admin_users_path %>
    </li>
    <li>
      <%= link_to "View all people", admin_people_path %>
    </li>
    <li>
      <%= link_to "Add a new person", new_admin_person_path %>
    </li>
  </ul>

  <h2>Posts</h2>
  <ul>
    <li>
      <%= link_to "View all posts", admin_posts_path %>
    </li>
    <li>
      <%= link_to "Add a new post", new_admin_post_path %>
    </li>
  </ul>

  <h2>Events</h2>
  <ul>
    <li>
      <%= link_to "View all events", admin_events_path %>
    </li>
    <li>
      <%= link_to "Add a new event", new_admin_event_path %>
    </li>
  </ul>

  <h2>Teams</h2>
  <ul>
    <li>
      <%= link_to "View all teams", admin_teams_path %>
    </li>
    <li>
      <%= link_to "Add a new team", new_admin_team_path %>
    </li>
  </ul>
</div>
