<!DOCTYPE html>
<html>
  <head>
    <title>Castlebarac</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "water" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render AdminToolbarComponent.new(user: Current.user) %>
    <header>
      <%= link_to root_url, class: "logo" do %>
        <%= inline_svg_tag "shield.svg" %>
        Castlebar A.C.
      <%- end %>
      <nav class="main" aria-label="Main Navigation">
        <span class="links">
          <%= link_to "About", about_url, class: "link" if Flipper.enabled?(:about) %>
          <%= link_to "Home", root_url, class: "link" %>
        <%- if logged_in? %>
          <%= link_to "My Profile", "/profile", class: "link" %>
          <%= link_to "Log out", "/logout", class: "link" %>
        <%- else %>
          <%= link_to "Log in", "/login", class: "link" %>
        <%- end %>
        </span>
      </nav>
    </header>
    <main>
      <div class="flash">
        <%= render "layouts/flash" %>
      </div>
      <%= yield %>
    </main>
    <%= render(FooterComponent.new) %>
  </body>
</html>
