<!DOCTYPE html>
<html>
  <head>
    <title>Castlebarac</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "water" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= auto_discovery_link_tag(:rss, rss_url, {title: "RSS Feed"}) %>

  </head>

  <body>
    <div class="wrapper">
    <%= render AdminToolbarComponent.new(user: Current.user) %>
    <header>
      <%= link_to root_path, class: "logo" do %>
        <%= inline_svg_tag "shield.svg" %>
        Castlebar A.C.
      <%- end %>
    </header>
    <nav class="main" aria-label="Main Navigation">
      <%= render(ListComponent.new) do |component| %>
        <% component.with_items([
          { label: "Home", href: root_path },
          { label: "Archive", href: posts_path },
          { label: "Events", href: events_path },
          ({ label: "My Profile", href: profile_path } if authenticated?),
          ({ label: "Log out", href: logout_path } if authenticated?),
          ({ label: "Log in", href: login_path } unless authenticated?),
        ].reject &:nil?) %>
      <%- end %>
    </nav>
      <%= render FlashComponent.new(flash: flash) %>
      <%= render FillOutProfileComponent.new(user: Current.user) %>
      <%= yield %>
    <%= render(FooterComponent.new) %>
  </body>
</html>
