<!DOCTYPE html>
<html>
  <head>
    <title>Castlebarac</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "water" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%- if Flipper.enabled?(:banner) %>
    <header>
      <%= link_to "Castlebar A.C.", root_url, class: "name" %>
      <span class="links">
        <%= link_to "About", about_url %>
      </span>
      <%= link_to "Log in", "#", class: "login" %>
    </header>
    <% end %>
    <div class="flash">
      <%= render "layouts/flash" %>
    </div>
    <%= yield %>
  </body>
</html>
